

body {
   
    box-sizing: border-box;
  }
  
  .board {
    
    width: 575px;
    border: 2px solid;
    
  }
  
  .row {
    display: flex;
    
  
  }
  
  .cell {
  
    width: 200px;
    height: 200px;
    border: 2px solid;
    text-align: center;
    line-height: 175px;
    cursor: pointer;
    font-size: xx-large;
    
  }
  
  .js-winner {
    font-size: xx-large;
  }


  .center {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

 

  @media only screen and (max-width: 600px) {
    .center {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }

  @media only screen and (max-width: 600px) {
    .board {
      width: 70%;
      height: 80%;
      
      

      
    }
  
    .cell {
      width: 50%;
      height: 50%;
    }
  
    .cell,
    .js-winner {
      font-size: x-large;
    }
  }
  body {
    background-color: #d55858;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 575px;
    margin: 0 auto;
    border: 2px solid #eee;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33.33%;
    border-bottom: 2px solid #eee;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 100%;
    font-size: 5rem;
    color: #eee;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .cell:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .cell:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
 
  .js-winner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  




  
  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  .input-container input {
    width: 300px;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #eee;
    font-size: 1.5rem;
    color: rgb(185, 75, 75);
    box-shadow: 0px 0px 10px 0px rgba(12, 11, 11, 0.3);
    transition: background-color 0.3s ease-in-out;
  }
  
  .input-container input:focus {
    outline: none;
    background-color: #ddd;
  }
  
  .blink {
    animation: blink 0.5s linear infinite alternate;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  .center {
    display: flex;
    justify-content: center;
    

  }
 
 