

/* Disable sideways scrolling on mobile */
@media (max-width: 600px) {
    /* Add styles to prevent wiggling on small screens */
    html {
      overflow-x: hidden; /* Hide horizontal scrollbar */
    }
  }

  @media only screen and (max-width: 600px) {
    .tradingview-widget-container {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
  }

  @media only screen and (max-width: 600px) {
    .tradingview-widget-container {
      width: 75%; 
      height: 85%;
    }
}