{% extends "encyclopedia/layout.html" %}

{% block title %}
   Edit Page {{ title }}
{% endblock %}

{% block body %}
    <h1>Edit Page: {{ title }}</h1>
    <h3>{{ message|safe }}</h3>

    <form action="{% url 'save_edit' %}" method="POST">
        {% csrf_token %}
        <label>Title:</label>
    <input type="hidden" name="title" placeholder="Enter a Title" value="{{ title }}" >
    <br>
    <br>
    <label>Content:</label>
    <br>
    <textarea name="content" style="height: 200px;">{{ content }}</textarea>
    <br>
    <input type="submit" value="Edit page" >
</form>

{% endblock %}