** {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    font-family: 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, Helvetica,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(192, 192, 192);
    height: 100%;
    margin: 0;
  }
  
  span {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .bulb {
    position: absolute;
    top: -35%;
    left: -12%;
    transform: scale(0.2);
    z-index: 1;
  }
  
  .chat {
    height: 400px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  ::-webkit-input-placeholder {
    color: .711
   
  
  }
  
  .title {
    text-align: center;
  }
  
  #input-form {
    display: flex;
    align-items: center;
  }
  
  #input {
    flex-grow: 1;
    border: none;
    padding: 15px;
    margin: 0;
    border-radius: 10px;
    
  
  }
  
  #submit-button {
    border: none;
    background-color: rgb(192, 192, 192);
    margin: 10px;
    padding: 0 px;
    font-size: xx-large;
    border-radius: 10px;

  }
  
  #robotPic {
    margin-right: 20px;
    margin: auto;
  }


  
  .messages {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 90%;
    width: 100%;
    background-color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
  }
  
  #bot {
    margin-right: auto;
  }
  
  #user {
    margin-left: auto;
  }
  
  .bot {
    font-family: Consolas, 'Courier New', Menlo, source-code-pro, Monaco,
    monospace;
  }
  
  .avatar {
    height: 25px;
  }
  
  .response {
    display: flex;
    align-items: center;
    margin: 1%;
  }
  
  /* Mobile */
  @media only screen and (max-width: 767px) {
    .container {
      flex-direction: column;
      justify-content: flex-start;
    }
    .chat {
      width: 75vw;
      margin: 10px;
      height: 400px;
      
    }
    .title span {
      display: none;

    }
    #robotPic {
      height: 150px;
    
    }
    
      
  
  @keyframes clickAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .clicked {
    animation: clickAnimation 0.5s;
  }
  
  
    
  }
  .userColor {
    color: rgb(21, 78, 184);
  }
  
  .roboColor {
    color: rgb(125, 110, 26);
  }
  