{% extends "auctions/layout.html" %}

{% block body %}




<h2 class="text-center" >Bike: {{ newListing.title }}</h2>

<h5 class="text-center" >Current Price: {{ newListing.price.bid }}$</h5>




   <img class="rounded mx-auto d-block" style="width: 30%;" src="{{ newListing.image }}" alt="{{ newListing.title }}">
   


   <div class="text-center" >
    {% if user.is_authenticated %}
        {% if isOwner and newListing.activeStatus %}
        
        
            <form action="{% url 'endAuction' id=newListing.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">End Auction</button>
            </form>    
            
            {% endif %}
        {% if isItemInWatchlist %}
            <form action="{% url 'removeFromWatchlist' id=newListing.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Remove From Watchlist</button>
            </form>
        {% else %}
            <form action="{% url 'addToWatchlist' id=newListing.id %}" method="post">
                {% csrf_token %}
            <button type="submit" class="btn btn-success">Add To Watchlist</button>
            </form>
        {% endif %}
        {% endif %}
</div>




<div class="text-center">
<h3>You want it?</h3>
{% if user.is_authenticated %}

<form action="{% url 'addBid' id=newListing.id %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="price"></label>
        <input type="number" min="1" name="newBid" placeholder="Add Bid">
        <button class="btn btn-info">Add</button>
        
    </div>    
</form>

{% endif %}
</div>




   <div class="container">
        {% if message %}
        {% if update %}
    <div class="alert alert-success text-center " role="alert"> {{ message }}</div>
        {% else %}
    <div class="alert alert-danger text-center " role="alert"> {{ message }}</div>
        {% endif %}
        {% endif %}
    </div>
   
    
    {% if not newListing.activeStatus and user == newListing.price.user %} 
    <div class="alert alert-success text-center" role="alert">
        Congratulations! You Won the Auction!
   
    </div>
        {% endif %}


   <p>{{ newListing.description }}</p>
   <p>Listed By User: {{ newListing.owner }}</p>
    <br>


    
  

       

        <h3>Comments</h3>
        {% if user.is_authenticated %}
        <form action="{% url 'addComment' id=newListing.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="price"></label>
                <input type="text" name="newComment" placeholder="Add Comment">
                <button class="btn btn-info">Add</button>
            </div>    
        </form>

        {% endif %}

     <ul class="list-group">
        {% for comment in allComments %}
        <li class="list-group-item" >
            <p> <strong>{{ comment.author }}:</strong></p>
             {{ comment.message }}</li>
            
        {% endfor %}
    </ul>
{% endblock %}