body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #222;
    background-color: #fff;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0 30px;
    text-align: left;
}






input[type="submit"]:hover {
    background-color: #2d73d2;
}

button[type="submit"] {
   
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #4285f4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
}

button[type="submit"]:hover {
    
    background-color: #2d73d2;
}

#miniLogo {
    position: absolute;
    top: 0;
    left: 0;
}

#miniLogo img {
    max-width: 100px;
    height: auto;
}




nav {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   padding: 30px;
}

#heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 235px;
}


.field {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center; 
    margin: 10px;
    
}

.textinput {
   
    width: 420px;
    margin-left: 10px; 
    margin-right: 10px;
    padding: 7px;
}

label {
    font-size: 12px;
    font-weight: bold;
    width: auto; 
    display: inline-block;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5px;
    padding-bottom: 30px;
    background-color: #fff;
    border: 1px solid black;
   
    
}

#textField0 {
    margin-right: 66px;
}

#textField2 {
    margin-right: 56px;
}
#textField3 {
    margin-right: 29px;
}

input#submitButton {
   margin-left: 535px;
   margin-right: auto;
   padding: 8px;

}


h3 {
    color: rgb(186, 60, 60);
    margin-left: 40px;
    margin-top: 50px;
}