body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #222;
    background-color: #fff;
}



input[type="submit"]:hover {
    background-color: #2d73d2;
    cursor: pointer;
    
}


button[type="submit"]:hover {
   
    background-color: #2d73d2;
}

#miniLogo {
    position: absolute;
    top: 0;
    left: 0;
}

#miniLogo img {
    max-width: 100px;
    height: auto;
}




nav {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   padding: 30px;
   
}

#toNoodle {
    margin-top: -20px;
}

#toNoodle a {
    
    color: #1a0dab;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;


}

#toNoodle a:hover {
    text-decoration: underline;
}

#heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 235px;
}


.field {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center; 
    margin: 10px;
    
}

.textinput {
   
    width: 420px;
    margin-left: 10px; 
    margin-right: 10px;
    padding: 7px;
}

label {
    font-size: 12px;
    font-weight: bold;
    width: auto; 
    display: inline-block;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5px;
    padding-bottom: 30px;
    background-color: #fff;
    border: 1px solid black;
   
    
}

#textField0 {
    margin-right: 66px;
}

#textField2 {
    margin-right: 56px;
}
#textField3 {
    margin-right: 29px;
}

input#submitButton {
   margin-left: 520px;
   margin-right: auto;
   padding: 8px;
   border-radius: 2px;
   background-color: #8ab4f8;
   cursor: pointer;
   
}
#submitButton:hover {
    background-color: #a5c7f8;
}


h3 {
    color: rgb(186, 60, 60);
    margin-left: 40px;
    margin-top: 40px;
    
}

h4 {
    margin-right: 500px;
    margin-left: 20px;
}